<div class="pos-f-t fixed-top">
  <nav class="navbar navbar-inverse navbar-toggleable-md">
    <div class="collapse navbar-collapse">
      <a class="navbar-brand" routerLink="">Blog</a>
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <li class="nav-item hidden-lg-down">
          <a class="list-group-item">Blog</a>
        </li> &nbsp;
        <li class="nav-item">
          <a class="list-group-item">About</a>
        </li> &nbsp;
        <li class="nav-item">
          <a class="list-group-item">Search</a>
        </li> &nbsp;
      </ul>
    </div>
  </nav>
</div>
